RewriteEngine On

# Check if the requested file does not exist
RewriteCond %{REQUEST_FILENAME} !-f
# Check if the requested directory does not exist
RewriteCond %{REQUEST_FILENAME} !-d
# Redirect all other requests to index.php with query string appended
RewriteRule ^(.*)$ index.php [QSA,L]
